@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Lato";
    src: url("/public/fonts/Lato-Black.ttf");
    font-style: normal;
    font-weight: 900;
  }
  @font-face {
    font-family: "Lato";
    src: url("/public/fonts/Lato-BlackItalic.ttf");
    font-style: italic;
    font-weight: 900;
  }
  @font-face {
    font-family: "Lato";
    src: url("/public/fonts/Lato-Bold.ttf");
    font-style: normal;
    font-weight: 700;
  }
  @font-face {
    font-family: "Lato";
    src: url("/public/fonts/Lato-BoldItalic.ttf");
    font-style: italic;
    font-weight: 700;
  }
  @font-face {
    font-family: "Lato";
    src: url("/public/fonts/Lato-Italic.ttf");
    font-style: italic;
    font-weight: 400;
  }
  @font-face {
    font-family: "Lato";
    src: url("/public/fonts/Lato-Light.ttf");
    font-style: normal;
    font-weight: 300;
  }
  @font-face {
    font-family: "Lato";
    src: url("/public/fonts/Lato-LightItalic.ttf");
    font-style: italic;
    font-weight: 300;
  }
  @font-face {
    font-family: "Lato";
    src: url("/public/fonts/Lato-Regular.ttf");
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: "Lato";
    src: url("/public/fonts/Lato-Thin.ttf");
    font-style: normal;
    font-weight: 200;
  }
  @font-face {
    font-family: "Lato";
    src: url("/public/fonts/Lato-ThinItalic.ttf");
    font-style: italic;
    font-weight: 200;
  }
}

@layer components {
  .header-background {
    background: linear-gradient(
      120deg,
      theme("colors.green.DEFAULT") 49.7%,
      theme("colors.blue") 49.7%
    );
  }
}
